* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
}

header {
  text-align: center;
}
header li {
  display: inline-block;
}
header a {
  display: inline-block;
  text-decoration: none;
  padding: 0.5rem;
}
header a:hover {
  background-color: blue;
}
header .active {
  background-color: blueviolet;
}

footer .montagne {
  height: 5rem;
  background-image: url("/images/footer-montagne-bottom.jpg");
}